.cardapio {
  box-sizing: border-box;
  padding: 40px 100px;
}
.cardapio__btn__revisar {
  display: flex;
  flex-direction: row-reverse;
}
.cardapio__btn__revisar button {
  all: unset;
  cursor: pointer;
  background-color: #d13201;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
}
.cardapio__info {
  display: flex;
  gap: 76px;
}
.cardapio__lista__produtos {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.descricao-container {
  max-width: 350px;
}

.ver-mais {
  all: unset;
  color: #D13201;
  font-weight: bold;
  cursor: pointer;
}

.ver-menos {
  display: none;
}
