.modal-endereco {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endereco-container {
  display: block;
  background-color: #f9f9f9;
  width: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  min-width: 510px;
  height: 660px;
  padding: 50px;
  position: relative;
}

.botao-fechar-modal {
  margin: 25px 57px 9px auto;
  color: #d13201;
  font-weight: bolder;
  font-size: 15pt;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.titulo-endereco {
  margin-bottom: 32px;
}

.endereco-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.endereco-form label {
  margin-bottom: 27px;
}

.endereco-form button {
  margin-bottom: 47px;
}

.endereco-form button {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(10, 12, 28, 0.5);
  display: grid;
  place-content: center;
  overflow: auto;
}

.fechado {
  display: none;
}

.div-sucesso {
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
