.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(10, 12, 28, 0.5);
  display: grid;
  place-content: center;
  overflow: auto;
}

.fechado {
  display: none;
}

.modal_produto {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: #161932;
  border-radius: 25px;
  display: flex;
  width: auto;
}

.imagem-produto {
  border-radius: 25px 25px 0 0;
  width: 704.75px;
  height: 395px;
}

.relative {
  position: relative;
}

.imagem-restaurante {
  position: absolute;
  bottom: 380px;
  right: 100px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #ffff;
}

.padding-card-produto {
  padding: 35px;
  width: 704.75px;
  height: 465px;
}

.titulo-produto {
  margin-bottom: 10px;
}

.componente-pedido-entrega {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.space-between {
  justify-content: space-between;
  margin-bottom: 70px;
}

.preco-produto {
  background: linear-gradient(
      0deg,
      rgba(13, 138, 79, 0.1),
      rgba(13, 138, 79, 0.1)
    ),
    linear-gradient(0deg, #ffffff, #ffffff);

  padding: 15px;
  color: #006335;
}

.botao-contador {
  all: unset;
  width: 40px;
  height: 40px;
  background-color: #d13201;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 32px;
  border-radius: 8px;
  margin: 8px;
}

.paddingY {
  padding: 0 50px;
}

.margemY {
  margin: 0 10px;
}

.link-center {
  display: block;
  margin-left: auto;
}

.produto-add {
  width: 100%;
  height: 95%;
}

.imagem-produto-add {
  width: 400px;
  height: auto;
}

.fechar-modal {
  color: #ffff;
  font-size: 60px;
  font-size: bold;
  background-color: transparent;
  outline: transparent;
  border: transparent;
  position: absolute;
  top: 0;
  right: 50px;
}
