.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(10, 12, 28, 0.5);
  display: grid;
  place-content: center;
  overflow: auto;
}

.fechado {
  display: none;
}

.modal_carrinho {
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: #161932;
  border-radius: 25px;
  display: flex;
  width: auto;
  flex-direction: column;
  min-width: 510px;
  height: 660px;
  padding: 50px;
}

.carrinho-vazio {
  width: 220px;
  height: 200px;
}

.restaurante-carrinho {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 32px;
}

.endereco-carrinho {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #d13201;
  display: flex;
  margin-top: 16px;
}

.endereco-api {
  display: block;
  font-weight: normal;
  color: #575757;
  margin-left: 5px;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.adicionar-endereco {
  margin-top: 10px;
  background: #fb3b0033;
  color: #aa320f;
  padding: 8px;
  border-radius: 5px;
}

.link-endereco {
  color: #aa320f;
}

.margem-tempo-entrega {
  margin-top: 15px;
}

.pagina-restaurantes {
  font-weight: normal;
  color: #575757;
  margin: 15px 0;
}
.total-carrinho {
  width: 100%;
  border-top: 1px solid #bebebe;
  padding-top: 25px;
  margin-bottom: 40px;
}

.valores-carrinho {
  display: flex;
  justify-content: space-between;
}

.titulos-valores {
  color: #737373ad;
}

.total-valor {
  font-size: 24px;
}

.margem-auto {
  margin-top: auto;
}

.margem-top {
  margin-top: 100px;
}

.cor-fechar-modal {
  color: #d13201;
  top: 150px;
  left: 1160px;
}
